/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

body{
    min-width: 375px;
}

.banner>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-left: 0;
    padding-right: 0;
}

.footer-section {
    background-color: #25294f;
    color: white;
    justify-content: space-evenly;
    text-align: center;
}

.footer-section > div{
    padding-top: 20px;
}

.footer-section > div> article{
    margin-bottom: 20px;
}

.footer-section > div>article > h2{
    font-weight: bold;
    margin-bottom: 20px;
}

.title-container {
    background-color: #25294f;
    margin-bottom: 20px;
    
    padding: 10px 20px;
}

.title-container > h2{
    color: white;
    font-weight: bolder;

}

.servicio{
    text-align: center;
}

.servicio > img,h3 {
    margin-bottom: 20px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .banner>img {
        height: 400px;
    }

    .footer-section {
        text-align: left;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }
