* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    max-width: 1400px;
    min-width: 375px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: #222222;
}

.header-section {
    margin-bottom: 100px;
}

.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

}

.site-title {
    width: 30%;
    color: rgb(20, 156, 190);
}

.menu{
    width: 40%;
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(20, 156, 190);
}

.menu>a {
    color: inherit;
    text-decoration: underline;
    text-anchor: inherit;
    font-weight: bold;
}

.menu>a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.logo-container {
    width: 30%;
    padding-left: 40%;
}

.logo-container__site-logo {
    height: 80px;
}

.banner {
    width: 100%;
}

.banner>img {
    width: 100%;
    height: 200px;
    max-width: 1400px;
    object-fit: cover;
}

.seccion-noticias,
.seccion-equipo {
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    
}

.seccion-noticias{
    background-color: #f7f7f7
}     
.header-container{
    background-color: #24d1c815 
}

.seccion-noticias {
    flex-wrap: wrap;
}


.news-info {
    width: 50%;
    padding: 20px;
    border: solid;
    border-width: 1px;
    border-color: #25294f;
}

.news-header {
    display: flex;
    justify-content: space-around;
}

.news-info__title {
    align-self: center;
}

.seccion-pie {
    background-color: #25294f;
    height: 200px;
    display: flex;
    color: white;
    justify-content: space-evenly;
}


.team-info{
    width: 100%;
    max-width: 25%;
    padding: 10px;
    background-color: #0ec9c90e;
    margin-inline: 3px;
    margin-bottom: 10px;
}

.team-info__imagen{
    width: 100%;
    max-width: 200px;
    margin-top: 15px;
}

/*Inicio Estilo Servicios*/
.contenedor_servicios{            
    position: relative;
    background-color: none;
    margin: 5px;
}
.card_image{
    border-radius: 50%; 
    margin-right: auto;
    margin-left: auto;
    border-style: none;
    border-color: none;
}

.modal_image{
    size: 200px;
    margin: 20px;
    float: right;
}

.carousel-item{
    background-color:none;
    padding: 50px 150px 75px 150px;
    
}

.card-footer{
    background-color:white;
    
}

.card-body{
    background-color: none;
    text-decoration-color: black;
                
}

.card-title{
    color: black;
}

.card-text{
    color: black;
    
}


.card-buttom{
    background-color: none;
    
    
}

#fondo-card_image{
    padding: 15px;
    background-color:none;
    border-color: #3ba8cc;
}

.contenedor-modal_text{
    float: inline-end;
    padding: 10px;
    margin: 10px;
}

.modal-body{
   text-align: left;
}

.carousel .carousel-indicators li {background-color: #474545;}
.carousel .carousel-indicators li.active {background-color: black;}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}

#Titulo-servicios{
    text-align: left;
}

#footer-buttom{
    background-color: #6963e7;
    padding: 10px;
    margin: 0px;
    margin-left: -20px;
    width: 113.5%;
}
/*Fin Estilo Servicios*/
