body{
    background-color: #b9b8da;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.estilomenu{
    list-style: none;
    padding: 0;
    background: #1296ad; 
    width: 90%;
    max-width: 980px;
    margin: auto;
}

.estilomenu li a{
        text-decoration: none;
        color: white;
        padding: 10px 60px;
        display: block;
    }

.estilomenu li{
    display: inline-block;
    text-align: center;
}

.estilomenu li a:hover{
    background: #ef8354;
}