body{
    background-image: url('/src/Images/fondo_formulario_servicios.jpg');
    background-color: cornsilk;
}

form_experimento{
   max-width: 30em; 
   padding: 1.5em;
   margin: 0 auto;
   font-weight: bold;
   border-radius: 0.5em;
   box-shadow: inset 1px 1px 22px 4px;
}